.task {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  width: 50%;
  text-align: center;
}

.task-title {
  font-size: 20px;
  margin-bottom: 5px;
}

.task-description {
  font-size: 16px;
  margin-bottom: 5px;
}

.task-due-date {
  font-size: 14px;
  font-style: italic;
}
